* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #4617ba, #fff);
    background: rgb(89, 48, 189);
    background: linear-gradient(
        90deg,
        rgba(89, 48, 189, 1) 0%,
        rgba(39, 9, 136, 0.9562483929118523) 49%,
        rgba(89, 48, 189, 1) 98%
    );
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: rgba(255, 255,255,0.1);
    /* backdrop-filter: blur(10px); */
    overflow: hidden;
    border: solid 1px black;
    box-shadow: 0px 0px 3px black;
    width: 300px;
    height: 410px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    
}

.eq-field {
    color: #bf2ef0de;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 15px;
    justify-content: center;
}

.btn {
    background-color: #e349cf;
    color: #feecb3;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 1.765em;
    width: 1.765em;
    padding: 10px 5px;
}

.btn:hover {
    background-color: #ee00ce;
}

.btn.focus {
    outline: green;
    border: 1px solid green;
}

.btn16{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn16 span{
    font-size: 2rem;
}

.operator {
    background-color: #bf2ef0db;
}

.operator:hover {
    background-color: #ad00e6;
}
